:root {
    --dark-gray-searchbar: #636365;
    --light-gray: #f7f7f8;
    --light-gray-searchbar: #efeff1;
    --regular-black: #0e0e10;
    --regular-gray: #efeff1;
    --regular-gray-bubble: #eaeaeb;
    --regular-gray-searchbar: #efeff1;
    --regular-red: #eb0400;
    --regular-purple: #5c16c5;
    --regular-white: #ffffff;
}