header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

.home {
    display: grid;
    grid-template-columns: 120px, auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "aside main";
}
