.recommended-channels {
  a {
    color: var(--regular-black);
    text-decoration: none;
  }
}

.recommended-channel {
  display: grid;
  grid-template-columns: 30px 150px 62px;
  font-size: 0.75rem;
  padding-top: 3px;
  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
  &--plain {
    margin: 0;
  }
  &--center {
    text-align: center;
  }
  &__img {
    border-radius: 50%;
    height: 35px;
  }
  &__section {
    &--vertical {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-top: 3px;
      padding-left: 12px;
      padding-right: 2px;
    }
  }
  &__icon {
    &--circle {
      color: red;
      font-size: 10px;
    }
  }
  &__name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__game-name {
    &--center {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__viewer-count {
    padding-left: 4px;
  }
}
